{% extends "base.html" %}

{% block extended_title %} - Kiosks{% endblock %} <!-- Extention of title - Starts with M-PULSE -->

{% block page_head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    <style type="text/css">
      html { height: 100%;}
      body { height: 100%;}
      #content { height: 100%;}
      #map-canvas img { max-width:none; }
    </style>
{% endblock %}
{% block content %} <!-- Content for the page -->
    <!--<h3>Kiosk Map</h3>-->
    <div id="map-canvas" style="width: 80%; margin: 0 auto; height: 70%"></div>
    <!--<h3 style="margin-top: 30px;">Kiosk List</h3>-->
    <table class='table table-striped' style="margin-top: 30px;">
        <th>Name</th><th>Location</th><th>Status</th>
        {% for kiosk in kiosks %}
            <tr class="{% if kiosk.status == 'O' %}success{% elif kiosk.status == 'F' %}muted{% elif kiosk.status == 'E' %}error{% endif %}" >
                <td>{{ kiosk.name }}</td>
                <td>{{ kiosk.location }}</td>
                <td>{% if kiosk.status == 'O' %}Online{% elif kiosk.status == 'F' %}Offline{% elif kiosk.status == 'E' %}Error{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block page_js %}
    <!-- Variables from DB -->
    <script>
        window.g_centerLat = {{ center.0 }}
        window.g_centerLng = {{ center.1 }}
        window.g_xmlPath = '{% url kiosksXML %}'
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMmioDcIccdwIE8lUQf_a4-OREHBlzHPo&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(window.g_centerLat, window.g_centerLng),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
        
        //Add kiosk points from xml file
        $.get(window.g_xmlPath, function(xml){
            var bounds = new google.maps.LatLngBounds();
            $(xml).find("kiosk").each(function(){
                // tooltip info for marker
                var name = $(this).attr('name');
                var location = $(this).attr('loc');
                if (!location){
                    location = "";
                }
                var status = $(this).attr('status');
                // gps loc of marker     
                var lat = $(this).attr('lat');      
                var lng = $(this).attr('lng');      
                var point = new google.maps.LatLng(parseFloat(lat),parseFloat(lng));            
                // extend the bounds to include the new point      
                bounds.extend(point);      
                // make the marker   
                var marker = new google.maps.Marker({        
                        position: point,        
                        map: map      
                });      
                // create info window   
                var infoWindow = new google.maps.InfoWindow();      
                var info='<b>'+name+'</b><br />'+location+'<br />Status: <i>'+status+'</i>';      
                // add a listener to open the tooltip when a user clicks on one of the markers      
                google.maps.event.addListener(marker, 'mouseover', function() {
                        infoWindow.setContent(info);        
                        infoWindow.open(map, marker);      
                });
                google.maps.event.addListener(marker, 'mouseout', function() {
                        infoWindow.close();    
                });
            });
            // Fit map around markers   
            map.fitBounds(bounds);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}