
<div id="chart_div" style="width:100%;height:100%;"></div>

<script>
    window.g_title = '{{ title }}'
    window.g_data = {{ data|safe }}
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"], callback:drawChart});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(window.g_data);
  
    var options = {
      title: window.g_title,
    };
  
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>