{% extends "base.html" %}

{% block extended_title %} - Admin {% endblock %} <!-- Extention of title - Starts with M-PULSE -->

{% block content %} <!-- Content for the page -->

<h2>Kiosks</h2>
<table class='table table-striped'>
    <th>Name</th><th>IP</th><th>Location</th><th>Status</th><th></th>
    {% for kiosk in kiosks %}
        <tr class="{% if kiosk.status == 'O' %}success{% elif kiosk.status == 'F' %}muted{% elif kiosk.status == 'E' %}error{% endif %}" >
            <td>{{ kiosk.name }}</td>
            <td>{{ kiosk.ip }}</td>
            <td>{{ kiosk.location }}</td>
            <td>{% if kiosk.status == 'O' %}Online{% elif kiosk.status == 'F' %}Offline{% elif kiosk.status == 'E' %}Error{% endif %}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="#">View Log</a></li>
                        <li><a tabindex="-1" href="#">Force Update</a></li>
                    </ul>
                </div>
            </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}