{% extends "base.html" %}

{% block extended_title %}{% endblock %} <!-- Extention of title - Starts with M-PULSE -->

{% block content %} <!-- Content for the page -->
{% if validlink %}
        <h3>Set New Password</h3>
        
        <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="{{ field.html_name }}" style="text-align:left;">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-inline">{{ field.errors }}</span>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
        <input type="submit" value="Change" />
        </form>
{% else %}
        <h3>Password reset unsuccessful</h3>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new <a href="{% url password_reset %}" >password reset</a>.</p>
        
{% endif %}

{% endblock %}