{% extends "base.html" %}

{% block extended_title %}{% endblock %} <!-- Extention of title - Starts with M-PULSE -->

{% block content %} <!-- Content for the page -->
<!-- Graphing Data -->
<script>
    window.g_ecgData = {{ ecgData|safe }}
</script>
{% if success_message %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ success_message }}
</div>
{% endif %}
<h3>M-Pulse Kiosk Session Results from {{ session.datetime_taken|date:"D M jS, Y G:i T" }}</h3>
{% for item in sessionData %}
    <b>{{item.0}}: </b>{{item.1}}{{item.2}}<br />
{% endfor %}
<b>ECG Graph: </b><br /><br />
<div id="ecgChart" style="height:300px; width:100%;margin: 0 auto;"></div>
<div style="float: right; margin-top: 20px;">
    <a class='btn btn-primary' href={% url emailSession session.pk %}>Send PDF as Email</a>
    <a class='btn btn-primary' href={% url exportSession session.pk %}>Export as PDF</a>
</div>

{% endblock %}

{% block page_js %}
    <script type="text/javascript">
        var series = [window.g_ecgData];
        var ecgPlot = $.jqplot ('ecgChart', series,{
            axes: {
                    xaxis: {
                            pad:0
                    },
                    yaxis: {
                            tickOptions:{
                                show: false
                            }
                    }
            },
            axesDefaults: {
                    tickOptions: {
                            showGridline: false,
                            showMark: true
                    },
                    showTickMarks: false
            },
            seriesDefaults: {
                    showMarker: false,
                    color: '#FF5C5C'
            },
            grid: {
                    background: '#FFFFFF',
                    borderColor: '#FFFFFF',
                    shadow: false
            }
        });
    </script>
{% endblock %}
