{% extends "base.html" %}

{% block extended_title %} - Home{% endblock %} <!-- Extention of title - Starts with M-PULSE -->

{% block content %} <!-- Content for the page -->

<div class='hero-unit'>
    <h3>Welcome to M-Pulse!</h3>
    <p>If you're here because you went to an M-Pulse kiosk for the first time and requested that your session results be stored,
    <a href="{% url 'password_reset' %}">click here</a> to set a password for your account so you can log in.</p>
</div>
<!--
<div class='hero-unit'>
    <p>If you're just here out of curiousity, check out the <a href={% url 'help' %}>help page.</a></p>
</div>
-->
{% endblock %}
