{% extends "base.html" %}

{% block extended_title %} - Login{% endblock %} <!-- Extention of title - MPULSE -->

{% block content %} <!-- Content for the page -->
<h3>Login</h3>
<form class="form-inline" action="{% url 'login_action' %}" method='post' >
    {% csrf_token %}
    {% if error %}
        <div class="control-group error" >
            <label class="control-label" for="inputError">{{ error }}</label>
            <div class="controls">
    {% endif %}
                <div class="input-prepend" style='margin-top:10px'>
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input name='email' type="email" class="input-small" placeholder="Email" />
                </div>
                <div class="input-prepend" style='margin-top:10px'>
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input name='password' type="password" class="input-small" placeholder="Password">
                </div>
    {% if error %}
            </div>
        </div>
    {% endif %}
<!--
  <label class="checkbox">
    <input type="checkbox"> Remember me
  </label>
-->
  <button type="submit" class="btn" style='margin-top:10px'>Sign in</button>
</form>

<hr />
<a href="{% url 'create_account' %}">Or, create a new account</a>

{% endblock %}