{% extends "base.html" %}

{% block extended_title %}{% endblock %} <!-- Extention of title - Starts with M-PULSE -->

{% block content %} <!-- Content for the page -->
<h3>Reset Password</h3>
<p>Please enter your email to reset your password</p><br />
<form action="{% url 'password_reset' %}" method="post">
{% csrf_token %}
{% for field in form %}
        <div class="control-group {% if field.errors %}error{% endif %}">
            <label class="control-label" for="{{ field.html_name }}" style="text-align:left;">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}
                    <span class="help-inline">{{ field.errors }}</span>
                {% endif %}
            </div>
        </div>
{% endfor %}
<input type="submit" value="Reset" />
</form>

{% endblock %}